- attaches = storage.attached_files.nested_set

- if attaches.count > 0
  %h3= t('.files_list')

  %ol.sortable_tree.attached_files_list{ data: { max_levels: 1, rebuild_url: rebuild_attached_files_url } }
    = sortable_tree attaches, render_module: AttachedFilesListHelper
